/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #e6c4c0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.box {
  width: 300px;
  height: 300px;
  margin: 1em;
  padding: 1em;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.container {
  min-height: cal(100vh-50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.co1{
  width: 2rem;
}

.box:hover {
  cursor: pointer;
  opacity: 0.9;
  color: #fff;
  transform: scale(1.09);
  border-radius: 10%;
}

.body h2 {
  margin-bottom: 0.5em;
}

.footer {
  background: #a799b7;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */

.appStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

.quoteBox-style{
  background-image: url("https://www.wallpapershop.co.uk/images/holden-decor-cork-board-texture-plain-natural-wallpaper-p1203-6363_medium.jpg");
  width: 40%;
  min-width: 20rem;
  background-color: #e9d8c6;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 1rem 0.5rem rgba(0, 0, 0, 0.247);
}

.author-position{
  display: flex;
  justify-content: flex-end;
  
  color:#423d37;
}

#quote-container{
   height: 14rem;
   overflow: hidden;
}

#quote{
  word-break: keep-all;
  word-wrap: break-word;
  margin: 0;
  overflow: hidden;
}

.pin-container{
  display:flex;
  justify-content: space-between;
  margin: -2rem -1rem 1rem -1rem;
}

.pin{
  width: 2.5rem;
}

h1{
  font-size: 2.5rem;
}

button{
  border-radius: 0.3rem;
  padding: .3rem;
  font-size: 1rem;
  transition: all 0.2s;
}

button:hover{
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1.2) ;
}

.flex-buttons{
  display:flex;
  justify-content: space-between;
  margin-top: 2rem;
}

a{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

#new-quote{
  border: none;
  background-color: #4e4842;
  font-weight: 600;
  font-size: 1.5rem;
  color: #e9d8c6;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.icon-color{
  color: #4e4842;
  transition: all 0.2s;
}

.icon-color:hover{
  transition: all 0.2s;
  transform: scale(1.5) ;
}

#jump-container{
  position: relative;
  bottom: 10rem;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#bored{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#jump-button{
  font-weight: 700;
  padding: 1rem 3rem 1rem 3rem;
  background-color: rgb(240, 213, 95);
  box-shadow: 0rem 0rem .5rem white;
  border-radius: 2rem 1rem 2rem 1rem;
}

.text-1{
  position:absolute;
  top: 4rem;
  transform: rotate(-5deg);
  color: rgba(0, 0, 0, 0.548);
  font-family: cursive ;
  font-size: 2rem;
}